*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
}
header{
	width: 100%;
	height:120px;
	background: #151515;
}
main{
	width:1200px; 
	height: auto;
	margin: 0 auto;
}
.header-left{
	width: 393px;
	height: 100%;
	font-size: 35px;
	color: #fff;
	text-align: center;
	line-height: 120px;
	float: left;
	font-weight: bold;
}
.header-right{
	width: 509px;
	height: 120px;
	float: right;

}
.header-right ul{
	width: 509px;
	height: 120px;
}
.header-right ul li{
    width: 69px;
    padding-right: 41px;
    color: #999;
    float: left;
	font-size: 17px;
	line-height: 120px;
}
.header-right ul li a{
	color: #999;
}
.header-right ul li a:first-of-type{
     /* color: #FE0000; */
}
.header-right ul li a:hover{
	color: #FE0000;
}
.header-right ul li:last-child{
	padding-right: 0px;
}
.banner{
	width: 100%;
	height: 600px;
}
.banner img{
	width: 100%;
	height: 600px;
}
.forword{
	width: 
	height: ;
}
.back{

}
.jianjie{
	width: 100%;
	height: 785px;
	background: #000;
	position: relative;
}
.jianjie img{
	width: 100%;
	
	margin: 200px auto;
	
}
.who{
	width: 558px;
	height: 427px;
	position: absolute;
	font-size: 14px;
	top: 280px;
	left: 650px;
	
	z-index: 11;
}
.who span{
	width: 210px;
	display: block;
	margin: 0 auto;
	text-align: center;
	font-size: 24px;
	margin-bottom: 10px;
	color: #fff;
}
.who p{
     text-indent: 2em;
     color: #999;
}
.term{
	width: 100%;
	height: 1000px;
	background: #131313;
}
.term1{
    /* width: 1200px; */
	height: 150px;
	padding-top: 40px;
	
	line-height: 150px;
	color: #fff;
	font-size: 25px;
}
.term2{
	width: 100%;
	height: 300px;
	padding-top: 45px;
}
.term2-tu{
    width: 217px;
    height: 302px;
    float: left;
}
.tt1{
	width: 217px;
    height: 302px;
   
}
.tt2{
	width: 217px;
    height: 302px;
    background: #343434;
    margin-left: 10px;
    margin-top: -290px;
   
}
.term2-wen{
    width: 817px;
    height: 208px;
    padding: 60px 55px;
    margin-left: 50px;
   
    float: left;
}
.term2-wen span{
	width: 175px;
	height: 53px;
	font-size: 20px;
	line-height: 50px;
	margin-bottom: 60px;
	display: block;
	color:#fff;
}
.term2-wen p{
	font-size: 12px;
	line-height: 27px;
    color: #999;
}
footer{
	width: 100%;
	height: 340px;
	background: #2B2B2B;
	padding-top: 52px;
}

.ft-top{
	width: 973px;
	height: 122px;
	/* background: gold; */
	margin: 0 auto;
	border-bottom: 1px solid #3D3D3D;
}
.ft-left{
	width: 260px;
	height: 100%;
	/* background: gray; */
	float: left;
	margin-right: 100px;
}
.ft-lefts{
	width: 250px;
	height: 100%;
	/* background: gray; */
	float: right;
}
.ft-left:last-child{
	margin-right: 0px;
}
.ft-left1{
	width: 70px;
	height: 70px;
	/* background: yellow; */
	margin: 0 auto;
}
.ft-left1 img{
	width: 70px;
	height: 70px;
}
.ft-left2{
	width: 255px;
	height: 28px;
	/* background: gold; */
	font-size: 14px;
	color: #D0EAEA;
	margin-top: 15px;
	text-align: center;
}
.ft-mid{
	width: 500px;
	height: 30px;
	/* background: pink; */
	margin: 0 auto;
	margin-top: 35px;
}
.ft-mid span{
	margin-right: 45px;
	font-size: 16px;
	color: #EAEAEA;
	cursor: pointer;
}
.ft-mid span:last-child{
	margin-right: 0px;
}
.ft-mid span a{
	color: #fff;
}
.ft-bottom{
	width: 217px;
	height: 23px;
	/* background: pink; */
	margin: 0 auto;
	font-size: 14px;
	color: #eaeaea;
	text-align: center;
}